mixin materia45()
  section
    h1 Óculos de sol da moda: conheça 8 modelos que são tendências!

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2023/01/topo-oculos-de-sol-da-moda.jpg" alt="modelo posando com um dos óculos de sol da moda")

  section
    p Para completar o look e aproveitar os dias de sol com muito estilo, nada melhor que investir em <strong>óculos de sol da moda</strong>. Além de proteger os olhos dos raios solares nocivos, esses acessórios ajudam a dar um up no visual, conferindo ainda mais personalidade às combinações.
    p Disponíveis em uma variedade de modelos incríveis, com detalhes e atributos exclusivos, as peças podem acompanhar diferentes produções, atendendo a todos os gostos. Quer saber quais são os <strong>óculos da moda</strong> ideais para você? Continue a leitura e confira oito versões que são tendências!
    h2 Gatinho
    p Quem acompanha as <em>trends</em>, sabe que os <strong>óculos</strong> gatinhos são verdadeiros sucessos. Febre entre as influencers e as fashionistas, o modelo é um <em>revival</em> da década de 1950, caracterizado por uma armação alongada nos cantos, que lembra o olhar de um felino.
    p Oferecendo um toque <em>vintage</em> às combinações, a peça é versátil e pode ser encontrada em diversas cores, sendo que o pretinho básico é o mais popular. Por conta das extremidades pontiagudas, o modelo combina com quase todos os formatos de rostos, redondos ou quadrados.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/01/interna-1-oculos-de-sol-da-moda.jpg" alt="modelo posando com um dos óculos de sol da moda")

  section
    h2 Aviador
    p Os <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/oculos/" target="_blank" rel="noreferrer noopener">óculos</a> aviadores são verdadeiros clássicos que nunca saem da moda. Lançado na década de 1930, com design inovador caracterizado por uma ponte vazada e uma armação fina em metal, o modelo tornou-se marca registrada dos pilotos — por isso, o nome!
    p Atemporal, a peça está disponível em diversas cores, sendo que a opção com armação dourada e lentes pretas é a mais tradicional. Perfeito para quem tem o rosto quadrado, o modelo combina muito com looks esportivos e casuais.
    h2 Retangular
    p Ícones da década de 1990, os <strong>óculos retangulares</strong> voltaram com tudo e conquistam milhares de corações. Versátil, a peça confere uma estética retrô ao visual, podendo complementar diversos looks com estilo — principalmente produções mais arrumadinhas, com roupas em alfaiataria.
    p Entre as principais opções, os <a href="https://blog.dafiti.com.br/modelos-de-oculos-de-sol/" target="_blank" rel="noreferrer noopener">modelos</a> com armação preta e branca são os mais procurados. O formato é bastante indicado para rostos redondos e ovais, dando mais estrutura e diminuindo o aspecto circular.
    h2 Wayfarer
    p Fabricado pela Ray-Ban desde 1956, o modelo wayfarer é uma opção que não pode ficar de fora da sua coleção. Considerados clássicos, esses <strong>óculos escuros</strong> são caracterizados pela armação quadrada com uma leve inclinação para frente na parte superior.
    p Sinônimo de praticidade, a peça pode acompanhar combinações para diversas ocasiões, sendo que a versão com estrutura e lentes pretas é a mais versátil. O modelo combina com rostos ovais e arredondados, ajudando a equilibrar as características e deixando o visual mais harmonioso.
    h2 Clubmaster
    p Outra opção bastante requisitada entre os óculos de sol da moda é o modelo clubmaster. Considerada <em>browline glasses</em>, tipos de óculos com armação superior que lembra o formato das sobrancelhas, a peça foi inspirada na contracultura dos anos 60, conferindo ao visual um toque autêntico e irreverente.
    p Com um formato caracterizado por uma armação de metal fino e acetato, o modelo está sempre em alta, podendo complementar combinações mais arrumadinhas ou casuais. Por conta das lentes mais arredondadas, é uma versão perfeita para rostos quadrados e triangulares.
    h2 Redondo
    p Os modelos de <strong>óculos redondos</strong> foram verdadeiros sucessos durante as décadas de 60 e 70, inclusive, virando marca registrada de grandes artistas, como John Lennon e Elton John. Nos dias de hoje, o formato também está entre as tendências, sendo uma opção estilosa e sofisticada.
    p Atendendo a todos os gostos, os modelos com armação arredondada grossa podem garantir looks marcantes e descontraídos, principalmente coloridos. Por outro lado, as versões mais finas e delicadas, são práticas, ficando perfeitas em looks mais discretos. A peça é indicada para rostos quadrados, retangulares e triangulares.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/01/interna-2-oculos-de-sol-da-moda.jpg" alt="modelo posando com um dos óculos de sol da moda")

  section
    h2 Maxi
    p Já faz tempo que os maxi óculos fazem sucesso entre os <a href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/" target="_blank" rel="noreferrer noopener">acessórios</a>. Conferindo um ar de mistério e sofisticação, a peça com armação e lentes grandes dá muita personalidade aos looks, sendo uma excelente alternativa para quem busca por um visual empoderado.
    p Entre as opções, é possível encontrar diversos modelos de óculos na versão maxi, inclusive, as opções citadas acima. As quadradas são perfeitas para quem curte uma produção mais sofisticada.
    h2 Espelhado
    p Ainda entre as opções de <strong>óculos de sol</strong> da moda estão os modelos espelhados. As lentes que foram sucessos em 2010 voltaram com tudo entre as tendências, conferindo ainda mais estilo e personalidade ao visual.
    p Disponível com vários tipos de armações, a peça pode ser encontrada com lentes em diferentes cores, sendo que o azul é o mais comum. No look, o modelo se encaixa perfeitamente em composições no estilo <em>streetwear</em>, com roupas em jeans e modelagem <em>oversized</em>.
    h2 Dafiti: encontre seus óculos de sol da moda!
    p E aí, gostou das opções de óculos de sol da moda e não vê a hora de garantir o seu favorito? Não perca tempo! Confira todos os modelos incríveis disponíveis na <a href="https://www.dafiti.com.br/">Dafiti</a> e aproveite!
