html {
    scroll-behavior: smooth;
}

.bodyBlog * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyBlog {
    width: 100%;
    background-image: linear-gradient(to right, #f9f9f9 , #fafafa);
    padding: 10px 0 40px;
}

.dafitiStructureBlog {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    max-width: 940px;

    h1,
    h2,
    h3,
    h4 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    h1 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2;
        // margin: 1rem 0;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 400;
        // margin: 1rem 0;
        line-height: 1.2;
    }

    h3 {
        font-size: 1.6rem;
        font-weight: 400;
        // margin: 1rem 0;
        line-height: 1.2;
    }

    h4 {
        font-size: 1.3rem;
        font-weight: 400;
        // margin: 1rem 0;
        line-height: 1.2;
    }

    b, strong {
        font-weight: 500;
    }
    
    p, label, li, label {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
        font-size: 1rem;
        // margin: 1rem 0;
    }

    a {
        font-size: inherit;
    }

    ol {
        padding-left: 1rem;
        list-style: inherit;
    }

    ul {
        padding-left: 2rem;
        list-style: inherit;
    }

    ul li {
        margin: 0;
    }

    table {
        font-family: "Poppins", sans-serif;
        font-size: .9rem;
        border-collapse: collapse;
        width: 100%;
      
        th, td {
          border: .1rem solid #000000;
          padding: 8px;
          text-align: left;
        }
      
        tr:nth-child(odd) {
          background-color: #f2f2f2; // Cor de fundo para linhas ímpares
        }
      
        tr:nth-child(even) {
          background-color: #e6e6e6; // Cor de fundo para linhas pares
        }
      }

    a {
        color: #c36;
        text-decoration: none;
        font-weight: 300;
        p {
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
    }

    i {
        font-style: italic;
        b {
            font-weight: bold;
        }
    }

    section {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    img {
        width: 100%;
    }

    .imgSmall {
        width: clamp(280px, 40%, 100%);
        margin: 0 auto;
    }

    iframe {
        width: 100%;
        aspect-ratio: 1/.55;
    }

    .linkAncor {
        cursor: pointer;
        width: fit-content;
        background-color: #000;
        position: sticky;
        bottom: 1rem;
        margin: 1rem auto 0;
        border-radius: 5rem;
        transition-duration: .3s;
        border: none;

        p {
            color: #ffffff;
            padding: .7rem 2rem;
            font-weight: 500;
        }

        &:hover {
            background-color: #2f2f2f;
            text-decoration: none !important;
        }
    }

    .titleDestaques {
        text-align: center;
        margin: 2rem auto 0;
        border-top: solid #ccc .1rem;
        padding-top: 1rem;
        width: 100%;
        max-width: 80%;
        @media (max-width: 758px) {
            width: 90%;
        }
    }

    .flexMaterias {
        display: flex;
        gap: 1rem;
        margin: 1rem 0;
        @media (max-width: 758px) {
            overflow: auto;
        }

        .materia {
            text-decoration: none;
            cursor: pointer;
            transition-duration: .3s;
            width: calc(100% / 3);
            @media (max-width: 758px) {
                width: 280px;
            }

            img {
                @media (max-width: 758px) {
                    width: 280px;
                }
            }
    
            .titleMateria {
                font-size: 1.2rem;
                padding: .5rem 1rem;
                color: #000000;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
            }
        }
    }
}