mixin materia19()
  section
    h1 5 combinações de como usar vestido com blusa por baixo

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2022/10/vestido-com-blusa-por-baixo-topo.jpg" alt="Imagem de vestido com blusa por baixo")

  section
    p Considerado uma tendência dos anos 90, o 
      strong vestido com blusa por baixo
      |  voltou a fazer sucesso recentemente. Com a sobreposição, você pode usar um vestido com decote e alcinha em ambientes casuais, por exemplo. As peças deixam o look estiloso e descontraído.
    p Na época em que foi lançada, a moda partiu da ideia de usar bustiês e tops que parecem lingeries por cima da roupa. Agora, a tendência pode ser feita com diversas combinações, de acordo com cada gosto. Separamos algumas opções de looks logo abaixo para você arrasar com essa sobreposição!
    h2 1 – Vestido estampado com blusa neutra
    p O 
      strong vestido com camiseta por baixo
      |  também pode ter estampas! São muitas combinações. Então, você pode escolher a que mais combina com o seu estilo. Se você gosta de looks bem coloridos, que deixam o visual ainda mais chamativo, uma dica é usar um vestido estampado com uma camiseta neutra para a composição ficar harmônica.
    p Busca por um ar romântico para ocasiões especiais? Você pode apostar em um vestido floral com uma camiseta branca, por exemplo. Agora, se você ama o visual rocker, o vestido xadrez vermelho com uma blusa preta pode ser uma boa pedida.
    h2 2 – Vestido liso tubinho com blusa estampada
    p Outra opção é usar o 
      strong vestido tubinho com blusa por baixo
      |  estampada. Essa é uma boa alternativa para quem quer sair de um look monocromático, mas curte um visual mais discreto para situações mais formais. A estampa dá um toque despojado à composição, sem chamar muita atenção.
    p Para montar essa sobreposição, você pode optar por um estilo clássico e atemporal. A blusa listrada com vestido liso é uma boa forma de arrasar e deixar o visual ainda mais 
      em cool
      | . Nesse caso, as cores das listras não precisam ser neutras. Uma dica é escolher uma tonalidade que combine com a cor do vestido.
    p Para sair do tradicional preto e branco, você pode apostar no look 
      em navy
      | , uma tendência que usa azul-marinho, branco e vermelho. A combinação de cores é uma boa pedida para quem curte um clássico da moda.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/10/vestido-com-blusa-por-baixo-interna.jpg" alt="")

  section
    h2 3 – Vestido preto com blusa branca
    p O look 
      em black and white
      |  é básico e pode ser composto por várias opções de peças. No verão, uma dica é usar a combinação de cores em um 
      strong vestido de alcinha com blusa por baixo
      |  para montar um visual superestiloso e confortável para o dia a dia.
    p Considerada uma composição prática e moderna, a opção é uma boa forma de montar um look rápido, ideal para uma rotina corrida. Ele funciona tanto em ambientes formais quanto em casuais, sendo uma excelente alternativa para renovar o visual do trabalho.
    h2 4 – Slip dress com blusa
    p Outro 
      strong vestido para usar com blusa por baixo
      |  é o 
      em slip dress
      | . Ele tem uma modelagem parecida com uma camisola. Para fazer essa sobreposição, uma dica é se atentar à escolha da camiseta. Isso porque uma peça mais grossa pode marcar.
    p Essa peça também é uma boa forma de usar o vestido longo com blusa por baixo. Para complementar o visual e arrasar, lembre-se dos acessórios: eles podem deixar a composição mais sensual ou moderna.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/10/vestido-com-blusa-por-baixo-interna-2.jpg" alt="Imagem de vestido com blusa por baixo")

  section
    h2 5 – Vestido jeans com blusa
    p Se você ama o estilo romântico, mas não abre mão de um look contemporâneo, uma dica é usar o 
      strong vestido jeans com blusa por baixo
      | . A composição é um clássico no guarda-roupa e tem presença garantida em muitas produções do dia a dia.
    p Curte o estilo básico? Então, você pode montar uma combinação com um vestido jeans liso e uma camiseta branca, por exemplo. Para produções mais elaboradas, uma boa pedida são as camisetas coloridas ou os vestidos personalizados com texturas, amarrações e diferentes tamanhos.
    h2 Complete o look com um acessório!
    p Como você viu, existem várias formas de combinar o vestido com blusa por baixo. Para a produção ficar ainda mais personalizada, você pode optar por acessórios que a deixem moderna, romântica, rocker ou sensual.
    p Se você vai viajar ou passear pelo shopping, o 
      a(href="https://blog.dafiti.com.br/vestido-para-usar-com-tenis/" target="_blank" rel="noreferrer noopener") tênis
      |  alia praticidade e conforto. Para compor um visual mais sensual para um jantar ou um evento importante, o scarpin pode ser uma boa pedida. Já as sapatilhas deixam o look ainda mais romântico.
    h2 Monte essa combinação na Dafiti!
    p Agora que você já sabe como montar um look de 
      a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/" target="_blank" rel="noreferrer noopener") vestido
      |  com blusa por baixo, veja todas as opções dessas peças no site da Dafiti. Por lá, você ainda pode aproveitar o frete grátis comprando a partir de determinados valores, além da entrega rápida com prazo de até um dia dependendo da localidade.
