mixin materia35()
  section
    h1 Rasteirinha que está na moda: conheça 6 modelos incríveis

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2022/12/rasteirinha-que-esta-na-moda-topo.jpg" alt="rasteirinha que está na moda")

  section
    p Qual <strong>rasteirinha que está na moda</strong>? Com o verão de 2023 chegando, é hora de descobrir quais peças estarão em alta durante a estação. Se você gosta de estar por dentro das principais tendências, vem com a Dafiti neste artigo especial.
    p As rasteirinhas são peças confortáveis e que, independentemente da época do ano, caem bem em vários tipos de visuais. Elas se reinventam a cada estação, provando que o sucesso delas veio para ficar. Não é para menos, não é? Conforto, estilo e elegância são os principais motivos para usar o <a href="https://www.dafiti.com.br/calcados-femininos/" target="_blank" rel="noreferrer noopener">calçado</a>!
    h2 Modelos de rasteirinhas para 2023: saiba o que usar no verão!

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/12/rasteirinha-que-esta-na-moda-interna-744x1024.jpg" alt="rasteirinha que está na moda")

  section
    p Qual <strong>sandália rasteirinha que está na moda</strong>? Abaixo, confira os principais modelos que estarão na moda para a estação mais quente do ano! Há opções para todos os gostos e ocasiões.
    h3 Rasteirinha metalizada
    p A <strong>rasteirinha metalizada</strong> nunca sai de moda. Em 2023, terá um destaque ainda maior. Ela tem um estilo anos 80 que está muito em alta e se encaixa perfeitamente em diversos looks – incluindo aqueles para as festas. Já pensou em apostar em um visual com a rasteirinha e um vestido longo?
    p A moda dos anos 80 marcou 2022 e vai se estender para o ano seguinte. Ela fica ótima com vestidos e peças mais básicas, como uma calça jeans e uma camisa branca, por exemplo.

  
  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/12/rasteirinha-que-esta-na-moda-interna-2-744x1024.jpg" alt="rasteirinha que está na moda")

  section
    h3 Fisherman
    p O modelo fisherman é outro exemplo de rasteirinha que está na moda. Essa peça tem um estilo boho (um mix de referências punk e hippie) muito característico. Se você gosta dessa pegada, vale apostar nessa peça, ainda mais para um look descontraído.
    p A rasteirinha fisherman possui um visual diferente, com tiras mais grossas, o que remete ao estilo boho. Os tons terrosos são ideais para combinar com essas peças. A tendência oversized também vai bem com essa peça. Que tal apostar em um look com essa proposta?
    h3 Gladiadoras
    p As sandálias gladiadoras são muito comentadas no mundo da moda. Não é para menos: elas são diferenciadas e chamam a atenção no visual. O modelo é conhecido por ser uma <strong>rasteirinha com amarração</strong> que se estende para o tornozelo ou até acima dele.
    p Você encontra rasteirinhas gladiadoras de diversas formas, com tiras mais grossas, de cores neutras ou intensas. Esse modelo é perfeito para o verão, já que requer um look mais fresquinho. A dica é apostar em camisas e camisetas com shorts ou saias, assim como macaquinhos.
    h3 Slide
    p A rasteirinha slide é clássica e nunca sai de moda. Você pode tê-la no armário e usá-la em qualquer estação do ano. Ela cai bem com diferentes tipos de <a href="https://blog.dafiti.com.br/looks-com-rasteirinha/" target="_blank" rel="noreferrer noopener">looks</a>, desde os mais casuais até os mais elegantes, próprios para um evento especial ou uma festa.
    p Para citar alguns exemplos, a rasteirinha slide pode fazer parte de uma composição com saia midi e camisa de linho. Se preferir um visual mais social, que tal investir em uma calça de alfaiataria com uma camisa branca? É um look infalível para o ambiente de trabalho.
    h3 Naked feet
    p Já conhece o modelo naked feet? Essa é uma <strong>rasteirinha com tiras</strong> finas, que possui um design similar a de um chinelo, ideal para produções mais sofisticadas. Os looks com vestidos longos ficam ainda mais elegantes se forem combinados com o calçado.
    p Como o nome já sugere, a rasteirinha naked feet deixa o pé mais à mostra, ou seja, se encaixa perfeitamente na estação. Os modelos são variados, com cores neutras ou intensas e até pedrarias, que dão um toque especial à peça.
    h3 Neon
    p Que o neon está em alta, você já deve saber, certo? As rasteirinhas não poderiam ficar de fora da tendência. O estilo de cor voltou a estar em alta nas passarelas, além de ser a cara do verão.
    p Como a <strong>rasteirinha neon</strong> já é uma peça chamativa, uma ideia é combiná-la com roupas neutras, dando o destaque ideal para o calçado. Outra sugestão é investir em itens que tenham a mesma cor neon da rasteirinha, criando um look supermoderno e colorido.
    h2 Encontre o modelo de rasteirinha ideal para você na Dafiti
    p Gostou de saber qual <a href="https://www.dafiti.com.br/calcados-femininos/rasteiras/" target="_blank" rel="noreferrer noopener">rasteirinha</a> que está na moda? Visite o site da Dafiti, confira os modelos disponíveis e crie looks incríveis para qualquer ocasião. Renove o seu guarda-roupa com itens que sejam a sua cara.