mixin materia16()
  section
    h1 Conheça os principais tipos de vestidos longos

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2022/11/tipos-de-vestidos-longos-topo.jpg" alt="modelo posando com um dos tipos de vestidos longos")

  section
    p Você conhece os principais 
      strong tipos de vestidos longos
      | ? Essas peças fazem parte do guarda-roupa desde o ano de 1800. É fácil ver essas versões mais clássicas em filmes e séries — 
      em Bridgerton
      |  é um ótimo exemplo.
    p Com o tempo, os vestidos longos foram mudando e se aperfeiçoando à modernidade. Hoje em dia, há diversos modelos que se encaixam perfeitamente com as mais diferentes ocasiões da rotina. Quer saber mais sobre eles? Confira a seleção que a Dafiti separou a seguir.
    h2 Vestidos longos retos
    p Os 
      strong vestidos longos retos
      |  são bem comuns. O intuito é que eles acompanhem a linha do corpo, deixando-o alinhado. Você pode escolher uma versão mais justinha ou solta. As duas ficam extremamente charmosas e elegantes.
    p Esse tipo de vestido longo pode ser feito com diferentes detalhes, como aberturas na parte traseira ou um decote mais alongado. Só vale prestar atenção à ponta do modelo! Como ele é reto, corre o risco de oferecer pouco espaço para as pernas se movimentarem.
    h2 Vestidos longos rodados
    p Os 
      strong vestidos longos rodados
      |  remetem aos modelos clássicos. Eles são ideais para quem busca peças mais românticas e elegantes. Se você busca por bastante volume e muita movimentação, essa é a opção perfeita.
    p Essas características são possíveis por conta das pregas presentes na saia, mais próximas ou distantes. Aproveite para criar looks sofisticados com peças estampadas ou lisas.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/11/tipos-de-vestidos-longos-interna-744x1024.jpg" alt="modelo posando com um dos tipos de vestidos longos")

  h2 Vestidos longos plissados
  p Os 
    strong vestidos longos plissados
    |  são revolucionários. Eles inovaram ao popularizar a técnica de plissar entre os costureiros para oferecer o efeito rodado que é tão desejado em outros modelos.
  p Esse é um dos tipos de vestidos longos que mais utilizam cores metalizadas. Eles são excelentes para os looks de festa ou ocasiões especiais. O efeito sanfonado é muito charmoso, dando um ar moderno para o seu visual.
  h2 Vestidos longos sereia
  p Como o nome já sugere, os 
    strong vestidos longos sereia
    |  remetem ao formato do corpo dessas figuras mitológicas. Eles são mais ajustados no quadril, colados nas pernas e abertos na ponta. O resultado é uma modelagem bastante característica e diferenciada.
  p Quando você for escolher o seu modelo preferido, vale prestar atenção na movimentação das pernas. Apesar de ser mais coladinha nas pernas, a peça não pode impedir os movimentos.
  h2 Vestidos longos tomara que caia
  p O 
    strong vestido longo
    |  tomara que caia é uma excelente opção para quem busca um modelo para o verão. Isso porque ele é mais fresquinho, já que deixa os ombros e o colo abertos, colocando-os em evidência. O decote varia de acordo com a preferência, sendo mais curvilíneo ou reto.
  p Como ele não possui alças, a sustentação aos seios é um ponto de atenção. Você pode usar um modelo estampado ou liso, com cores de sua escolha.
  h2 Vestidos longos de ombro a ombro
  p Os vestidos longos de ombro a ombro nunca saem de moda. São parecidos com o tomara que caia, mas se diferenciam por conter mangas (curtas ou compridas), que acompanham a linha dos ombros.
  p Os vestidos lisos são sempre excelentes opções. Se você quiser diferenciar o visual, uma dica é conhecer os modelos com babados e volume, criando um look ainda mais sofisticado e elegante.
  h2 Com quais calçados usar os vestidos longos?
  p Gostou de conhecer mais sobre os principais tipos de vestidos longos, mas não sabe com quais calçados compor os looks? As sandálias 
    a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/" target="_blank" rel="noreferrer noopener") rasteirinhas
    |  são sempre boas parceiras, independentemente do modelo. Elas vão bem com ocasiões mais casuais e até eventos especiais.
  p Caso queira dar ainda mais imponência ao visual, as sandálias de salto alto são excelentes opções. Já se deseja um look mais moderno, casual e despojado, os 
    a(href="https://blog.dafiti.com.br/vestido-para-usar-com-tenis/" target="_blank" rel="noreferrer noopener") tênis
    |  combinam com diversos tipos de vestidos longos.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2022/11/tipos-de-vestidos-longos-interna-2-744x1024.jpg" alt="modelo posando com um dos tipos de vestidos longos")

  h2 Dafiti: encontre o vestido longo que mais combina com você!
  p A Dafiti disponibiliza os melhores tipos de 
    a(href="https://www.dafiti.com.br/roupas-femininas/vestidos/" target="_blank" rel="noreferrer noopener") vestidos
    |  longos para você escolher qual mais combina com o seu estilo. Visite o nosso site, veja os modelos e leve o seu preferido para casa. Há opções com diferentes tamanhos, decotes, aberturas, cores e estampas. Confira!
