mixin materia32()
  section
    h1 Como usar boné? Veja dicas incríveis para os seus looks!

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-topo.jpg" alt="modelo posando pra foto representando como usar boné" width="1000" height="404" sizes="(max-width: 1000px) 100vw, 1000px" srcset="https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-topo.jpg 1000w, https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-topo-300x121.jpg 300w, https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-topo-768x310.jpg 768w, https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-topo-150x61.jpg 150w")

  section
    p Os acessórios são práticos e deixam os looks ainda mais estilosos. Sempre que for usá-los no visual, vale prestar atenção nos detalhes. Eles devem combinar com a produção e deixar o corpo confortável. O D-zão preparou um artigo sobre 
      strong como usar boné
      | , um item democrático.
    p O boné é um acessório que divide opiniões: alguns amam, mas outros dispensam. De qualquer forma, sempre que é usado no visual, ele se destaca, traz proteção e muito conforto. Quer entender como adicioná-lo nas suas produções? Vem com o D-zão!
    h2 Como usar boné de aba curva?
    p 
      strong Como usar boné de aba curva
      | ? Esse é um dos primeiros modelos porque mantém as principais características do acessório: versatilidade, estilo e conforto. Combina com um look casual, podendo ser inteiramente de uma cor só ou com algumas estampas.
    p O boné preto é sempre o mais fácil de combinar por causa da versatilidade da cor. Você pode usá-lo em um 
      a(href="https://blog.dafiti.com.br/look-com-bone/" target="_blank" rel="noreferrer noopener") look simples
      | , com uma camiseta e uma calça jeans ou uma bermuda. Ele também cai muito bem com uma jaqueta bomber. O importante é se sentir confortável.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-interna-744x1024.jpg" alt="modelo posando para foto representando como usar boné")

  section
    h2 Como usar boné de aba reta?
    p Você sabe 
      strong como usar boné de aba reta
      | ? Esse modelo é bastante conhecido pelo estilo urbano. Ele nasceu da influência do universo do hip-hop e caiu no gosto do público, virando uma tendência que não vai embora tão cedo.
    p O boné de aba reta combina com peças de estilo urbano: calça jogger, bermuda cargo e camiseta oversized ou longline. Você também pode usar com uma calça jeans destroyed. Ele tem uma pegada despojada, perfeita para os momentos mais descontraídos.
    h2 Como usar boné para trás?
    p Todas as dicas anteriores se encaixam perfeitamente caso você queira aprender 
      strong como usar boné para trás
      | . Nessa posição, o acessório traz uma pegada descontraída para o look.
    p O boné para trás é bastante comum em produções mais esportivas, com moletom e tênis, por exemplo, mas não está restrito somente a esse tipo de visual. Ele também cai muito bem com camiseta e calça jeans ou até camisa estampada.
    h2 Como usar boné estampado?
    p O boné estampado é bastante chamativo. Independentemente da estampa, mais discreta ou colorida, vale se atentar à composição do visual sempre que optar por esse modelo.
    p 
      strong Como combinar boné com a roupa
      | ? Sempre que optar por um boné estampado, a sugestão do D-zão é escolher peças neutras, que não entrem em conflito com a padronagem.
    h2 Tome cuidado com os detalhes
    p Para aprender 
      strong como usar boné com estilo
      | , vale prestar atenção em alguns detalhes. Apesar do acessório ser muito democrático, ele não combina com qualquer ambiente. Para uma ocasião mais social, você pode preferir outros itens para compor o look.
    h3 Acessório diurno
    p Outro detalhe importante é o momento do dia. O boné é um acessório diurno, feito não só para adicionar um toque a mais de estilo no visual, mas principalmente para proteger a visão do sol. Por isso, não é recomendado usá-lo em ocasiões noturnas, como um jantar ou uma festa.
    h3 Tamanho
    p A melhor forma de saber como usar 
      a(href="https://blog.dafiti.com.br/tipos-de-bones-para-cada-rosto/" target="_blank" rel="noreferrer noopener") boné
      |  corretamente é analisar o tamanho. O modelo precisa ser proporcional à cabeça, nem tão grande, nem pequeno demais. A dica do D-zão é evitar aqueles que tampam uma parte da visão.
    h3 Bonés esportivos
    p Existem diversos tipos de bonés esportivos com tecidos tecnológicos para a prática de exercícios físicos. Eles são voltados para esportes ao ar livre, como corridas, partidas de tênis e golfe.

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/03/como-usar-bone-interna-2-744x1024.jpg" alt="modelo posando para foto representando como usar boné")

  section
    h2 Encontre o boné ideal para você no site da Dafiti
    p Agora que você já sabe como usar boné de diferentes maneiras, que tal encontrar o seu 
      a(href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/bones-e-chapeus/" target="_blank" rel="noreferrer noopener") preferido
      |  no site da Dafiti? Use as dicas do D-zão para buscar pelo que mais se encaixa com o seu estilo! O catálogo é recheado de opções para compor looks completos.
