mixin materia52()
  section
    h1 O que é rasteirinha? Saiba tudo sobre esse calçado tão conhecido!

  img(src="http://static.dafiti.com.br/cms/onsite/2025/2025_03_11_15_17_49_topo-o-que-e-rasteirinha.jpg" alt="o que é rasteirinha")

  section
    p Afinal, <strong>o que é rasteirinha</strong>? Esse calçado está sempre presente em looks para qualquer estação, e não é para menos! Ele combina com tudo, desde peças básicas até as mais elegantes, além de ter modelos variados, que se encaixam perfeitamente em diversas ocasiões.
    p Que tal conhecer um pouco da história da rasteirinha? Ela está constantemente presente no dia a dia, mas será que você sabe qual é a origem desse 
      a(href="https://www.dafiti.com.br/calcados-femininos/" target="_blank" rel="noreferrer noopener") calçado
      |? Vem com a Dafiti neste artigo sobre esse item tão especial do guarda-roupa.
    h2 Saiba o que é rasteirinha
    p <strong>O que é sandália rasteira</strong>? O nome não é por acaso. Ela se diferencia de uma sandália tradicional por não possuir salto, ou seja, a palma e o solado não são altos, ficando bem próximos do chão. Existem vários atributos que diferenciam o calçado entre si: tiras grossas, finas, com pedrarias, tecidos diversos, e por aí vai.
    p Além de ter o conforto como um dos principais benefícios, uma das características que fazem da rasteirinha um sucesso é a versatilidade. Ela pode ter um design mais delicado, semelhante a uma <strong>chinela</strong>, ou seguir um shape diferenciado.
    h2 História da rasteirinha

  img.imgSmall(src="http://static.dafiti.com.br/cms/onsite/2025/2025_03_11_15_19_54_interna-o-que-e-rasteirinha.jpg" alt="o que é rasteirinha")

  section
    p Agora que você já sabe o que é <strong>rasteirinha</strong>, é hora de descobrir a origem dessa sandália. O primeiro indício aconteceu em 10 mil a.C. Não existem registros oficiais, mas tudo indica que, nesse período, o calçado era extremamente diferente de hoje.
    p Naquela época, a rasteirinha tinha o intuito somente de proteger os pés contra as diferentes temperaturas e os relevos presentes no chão. O design era o mais simplista possível, somente cumprindo o objetivo proposto.
    p Com o tempo e a evolução da sociedade, a rasteirinha começou a ser não só um objeto de proteção, mas também um símbolo das classes sociais. Era possível identificar a classe de cada pessoa apenas observando o calçado que ela usava.
    h3 Padrão numérico
    p A criação de uma rasteirinha similar a conhecida hoje aconteceu em 1972, com o reinado de Edward I, na Inglaterra. Ele determinou um padrão numérico para o calçado: uma polegada seria o mesmo que três grãos de cevada colocados em fileira. Até hoje, esse é o padrão.
    h2 Quando a rasteirinha chegou no Brasil?
    p Para ter uma ideia, a chegada da <strong>rasteira</strong> no Brasil se deu muito antes do que se imagina. Ela já estava aqui antes da chegada dos portugueses. Porém, foi popularizada depois do processo de colonização. Após a Revolução Industrial, começou a ter um design similar ao de hoje.
    p A Revolução Industrial foi muito importante para modificar a produção da rasteirinha. A partir dela, o modelo ficou mais artesanal. Desde então, acontecem atualizações, modificando o design, trazendo novos apetrechos, pedrarias, tecidos e muito mais.
    h2 Conheça os principais modelos de rasteirinha

  img.imgSmall(src="http://static.dafiti.com.br/cms/onsite/2025/2025_03_11_15_21_17_interna-2-o-que-e-rasteirinha.jpg" alt="o que é rasteirinha")

  section
    p Depois de ter visto o que é rasteirinha, que tal conhecer os principais modelos? Esse estilo de <strong>sapato feminino</strong> possui diferentes shapes, caindo bem com looks para o verão e até para o inverno. Veja mais sobre eles, a seguir.
    h3 Rasteirinha fechadas
    p As rasteirinhas fechadas deixam os pés menos à mostra. Elas contam com mais tecidos e maior revestimento. Tendem a ser calçados com fechamento na parte da frente, mas também contam com detalhes na traseira.
    h3 Rasteirinhas abertas
    p As rasteirinhas abertas são opostas às anteriores, deixando os pés mais à mostra. As mais comuns possuem tiras finas ou até formato em Y. Elas são indicadas para ambientes mais casuais e perfeitas para os dias mais quentes.
    h3 Gladiadora
    p A rasteirinha gladiadora é uma das mais diferenciadas. Isso porque ela se assemelha às sandálias usadas em batalha por gregos e romanos, com a diferença que o design é mais atual e muito estiloso. Ela possui tiras que vão até o tornozelo ou se estendem ao longo das pernas.
    h2 Dafiti: os melhores modelos de rasteirinhas estão aqui
    p Gostou de saber o que é 
      a(href="https://www.dafiti.com.br/calcados-femininos/rasteiras/" target="_blank" rel="noreferrer noopener") rasteirinha
      |? Já pensou em garantir a sua? Confira os modelos disponíveis no site da Dafiti e crie looks incríveis para qualquer momento. Há opções para todos os gostos e estilos. O importante é sentir-se confortável, usando uma peça que se encaixa perfeitamente em você.
