mixin materia17()
  section
    h1 Como lavar óculos de sol: dicas para higienizar os acessórios!

  img(src="https://blog.dafiti.com.br/wp-content/uploads/2023/02/como-lavar-oculos-de-sol-topo-1.jpg" alt="como lavar óculos de sol")

  section
    p Quer aumentar a durabilidade dos acessórios, mas não sabe 
      strong como lavar óculos de sol
      | ? Além de potencializar os atributos, a higienização é o melhor caminho para preservar e prolongar a vida útil desses objetos.
    p Disponíveis em uma variedade de 
      a(href="https://blog.dafiti.com.br/modelos-de-oculos-de-sol/" target="_blank" rel="noreferrer noopener") modelos incríveis
      | , com opções para diferentes gostos e estilos, os óculos de sol são peças indispensáveis no dia a dia. Os acessórios ajudam a proteger os olhos contra agentes externos e dão um up no visual, conferindo ainda mais personalidade aos looks.
    p Para você descobrir como lavar óculos de sol, o D-zão preparou este artigo recheado de truques e dicas. Confira!
    h2 A importância de lavar os óculos de sol!

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/02/como-lavar-oculos-de-sol-interna-1-744x1024.jpg" alt="como lavar óculos de sol")

  section
    p Afinal, você sabe qual é a importância de 
      strong lavar os óculos de sol
      | ? Justamente por ficarem posicionados próximo aos olhos, uma das regiões mais sensíveis do corpo, esses objetos precisam ser higienizados para impedir que micropartículas, como poeira ou poluição, sensibilizem a área.
    p A higienização também serve para remover gorduras e manchas da lente, desenferrujar armações em metal, conservar e aumentar a durabilidade dos acessórios. Apesar de não exigir uma periodicidade, a limpeza deve ser feita sempre que for possível para evitar problemas e garantir uma visão nítida durante o uso.
    h2 Como lavar óculos de sol?
    p Compreendendo os motivos da prática, você deve estar se perguntando como lavar 
      a(href="https://www.dafiti.com.br/bolsas-e-acessorios-femininos/oculos-de-sol/" target="_blank" rel="noreferrer noopener") óculos de sol
      | . Para começar, é importante ressaltar que a higienização desse tipo de acessório deve ser feita somente com:
    ul
      li produtos de limpeza específicos para óculos;
      li sabão ou detergente neutro;
      li bicarbonato de sódio (para casos extremos);
      li flanela de microfibra;
      li papel-toalha ou pano macio.
    p Ao separar esses materiais, você já pode começar a 
      strong limpar os óculos de sol
      |  sem se preocupar com arranhões ou riscos. Para facilitar, veja um passo a passo para cada parte do objeto.
    h3 Lentes
    p O primeiro passo de 
      strong como limpar a lente de óculos de sol
      |  é segurar o objeto pela ponte (parte da armação localizada entre as lentes) e molhá-lo em água fria corrente. Depois, é só aplicar uma gota de produto adequado sobre a região, sabão ou detergente neutro, e esfregar delicadamente com um pano ou uma flanela macia.
    p Quando toda a superfície das lentes estiver bem limpa, enxágue em água fria corrente. Finalize, secando com um papel-toalha macio, um pano ou uma flanela de microfibra.
    h3 Armação e plaquetas
    p Para realizar a 
      strong limpeza de óculos de sol
      |  completa, também é necessário higienizar a armação e as plaquetas do objeto (sapatas que ajudam a fixar os óculos no nariz). Para isso, umedeça um pano macio com um pouco de detergente ou sabão neutro diluído em água.
    p Passe o pano por toda a região da armação e das plaquetas, esfregando-as. Depois, remova a espuma em água fria corrente e finalize secando o objeto com pano, papel-toalha ou flanela de microfibra.
    h3 Armação oxidada
    p Para quem deseja saber como 
      strong lavar óculos
      |  de sol com armação oxidada, a dica é fazer uma mistura com um pouco de detergente neutro e bicarbonato de sódio. Comece envolvendo as lentes com um papel-toalha macio para protegê-las durante a higienização.
    p Feito isso, aplique a mistura em um pano e esfregue por toda a armação até o metal recuperar o brilho. Enxágue o objeto em água fria corrente e seque com um pano macio ou uma flanela de microfibra.
    h2 Dicas para aumentar a durabilidade dos óculos de sol

  img.imgSmall(src="https://blog.dafiti.com.br/wp-content/uploads/2023/02/como-lavar-oculos-de-sol-interna-2-1-744x1024.jpg" alt="como lavar óculos de sol")

  section
    p Agora que você já sabe como lavar 
      strong óculos de sol
      | , que tal garantir algumas dicas para aumentar a durabilidade dos seus acessórios? A seguir, confira os truques!
    h3 Guarde sempre no estojo
    p Não ter cuidado na hora de armazenar os óculos é uma das principais causas de arranhões e riscos. Por isso, a dica é se atentar e guardá-los sempre no estojo, podendo até envolvê-los em uma flanela para garantir mais segurança.
    h3 Não use qualquer pano para limpar
    p Usar tecidos próprios para a higienização dos óculos, como a flanela de microfibra, é uma ótima alternativa para aumentar a durabilidade. Isso porque, ao limpá-los com tecidos mais fibrosos, como roupas, torna-se mais propício danificar o material.
    h3 Cuidado com produtos de limpeza e álcool
    p Em geral, os produtos de limpeza são corrosivos e, ao serem aplicados, podem danificar a estrutura dos óculos. Da mesma forma, o álcool é capaz de desbotar ou manchar a estrutura dos acessórios. Por isso, a dica é priorizar produtos específicos para o objeto ou opções neutras, como sabões e detergentes.
    h3 Evite deixar na cabeça
    p Deixar os óculos apoiados na cabeça também pode interferir negativamente na estrutura dos objetos. Além da prática desregular as hastes das peças, deixando a armação torta, o suor do couro cabeludo pode deixar as lentes mais engorduradas, afetando a higienização e, consequentemente, a durabilidade.
    h2 Dafiti: encontre os óculos de sol perfeitos para você!
    p E aí, gostou das dicas e já sabe como lavar óculos de sol? Então, o que está esperando para garantir um modelo novinho para sua coleção? Na 
      a(href="https://www.dafiti.com.br/bolsas-e-acessorios-masculinos/oculos/" target="_blank" rel="noreferrer noopener") Dafiti
      | , você encontra diversas opções incríveis. Confira agora mesmo e aproveite!
